.scroll-message-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 30%;
    left: 50%;
    text-align: center;
    align-items: center;
  }
  
  .scroll-message {
    font-size: 18px;
    color: #fff;
    opacity: 1;
    animation: fadeIn 3s infinite;
  }
  
  .mouse-silhouette {
    width: 20px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    
    margin-top: 10px;
    opacity: 1;
    animation: drawMouse 3s infinite;
  }
  
  
  @keyframes drawMouse {
    0% {
      transform: translateX(-50%) translateY(0);
    }
    25% {
      transform: translateX(-50%) translateY(15px);
    }
    50% {
      transform: translateX(-50%) translateY(30px);
    }
    75% {
      transform: translateX(-50%) translateY(15px);
    }
    100% {
      transform: translateX(-50%) translateY(0);
    }
  }

    @keyframes fadeIn {
        0% {
        opacity: 0;
        }
        50% {
        opacity: 1;
        }
        100% {
        opacity: 0;
        }
    }
  
