.sections-container {
  .top-section {
    translate: 0 calc(-1% * (max(var(--scroll), 25) - 25) * 100 / 75);
    --background-opacity: calc(100% - 1% * min(var(--scroll), 70) * 100 / 70);
    .left {
      background-image: url("images/obama.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: var(--background-opacity);
    }
  }
  .first-section {
    padding-top: 10vh;
  }
}
